#ifndef CONFIG_H
#define CONFIG_H

// WiFi
#define CFG_WIFI_ESSID "xxxxxxxx"
#define CFG_WIFI_PASSWORD "xxxxxxxx"

// mDNS
#define CFG_HOSTNAME "esp8266"

// HTTPS Demo. Note this must be an https:// URL
#define CFG_POST_URL "https://hookb.in/foo"

// Pick a timezone from TZ.h:
#define CFG_TZ TZ_America_Detroit

#endif //CONFIG_H
